params {
 manifest   = "$PWD/manifest.csv"
 bn         = "MTG_PROJECT"
 THREADS    = 12
 WIN_SIZE   = 10        
 MEAN_QUAL  = 30        
 MAX_LEN1   = 300        
 MAX_LEN2   = 300        
 DBFOLDER   = '${ENVDBPATH}'

 CACHEDIR   = "$PWD/cache"


 evaluefun4 = 1e-03
 minidenfun4= 1e-03
 blocksize  = 8

 evaluehmmer5 = 1e-10 
}

profiles {
  conda {
    cacheDir = params.CACHEDIR
    process.conda = "$projectDir/envs/environment.yml" 
  }
} 



 



